html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

button, .button, .submit {
  padding: 0.5em 1em;
  border-radius: 0;
  background-color: #fcb31c;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 115%;
  text-decoration: none;
  text-transform: lowercase; }
  button:hover, button:focus, .button:hover, .button:focus, .submit:hover, .submit:focus {
    background-color: #fcbb35; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  min-width: 450px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ////////////////////////////////////////////// Sticky FOoter */
html, body {
  height: 100%; }

.pagewrapper {
  min-height: 100%;
  margin-bottom: -180px; }
  .pagewrapper:after {
    content: '';
    display: block; }

.footer-wrapper, .pagewrapper:after {
  height: 180px; }

/* ////////////////////////////////////////////// General styles */
h1 {
  color: #5e6300;
  font-size: 1.8em;
  margin-bottom: 20px; }

form label {
  left: 99999em;
  top: auto;
  display: block;
  width: 1px;
  height: 1px;
  position: absolute; }
form input {
  float: left;
  margin-right: 20px;
  padding: 10px; }

/* ////////////////////////////////////////////// Layout styles */
.header-top {
  border-bottom: 2px solid #b0ba25;
  background-color: #b0ba25;
  overflow: hidden;
  width: 100%; }
  .header-top .header-top-inside {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 20px; }
    .header-top .header-top-inside .logo {
      display: block;
      float: left;
      width: 99px;
      height: 80px;
      text-indent: -9999em;
      background: url(../img/chrysalis_logo.png) no-repeat top left; }
    .header-top .header-top-inside p {
      float: right;
      background: #5e6300;
      padding: 20px;
      color: white;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.header-bottom {
  background-color: #bfc841;
  border-top: 1px solid #a7af39;
  color: #89901b;
  font-size: 1.25em;
  padding: 10px 0;
  -webkit-box-shadow: inset 0 2px 3px #b0ba25;
  -moz-box-shadow: inset 0 2px 3px #b0ba25;
  box-shadow: inset 0 2px 3px #b0ba25; }
  .header-bottom .header-bottom-inside {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    height: 25px; }
    .header-bottom .header-bottom-inside p.tagline {
      float: left; }

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 20px 0 20px; }

.footer-wrapper {
  clear: both;
  line-height: 1.5;
  overflow: hidden;
  padding: 2em 20px 1em;
  background-color: #b0ba25;
  color: white;
  font-size: .8em;
  font-weight: 300; }
  .footer-wrapper .footer {
    max-width: 1024px;
    margin: 0 auto; }
    .footer-wrapper .footer p {
      color: #89901b;
      font-size: 3em;
      font-weight: 400px;
      padding-top: 1.25em;
      float: left; }

.navigation {
  float: right; }
  .navigation ul {
    float: left;
    width: 50%; }
    .navigation ul li {
      list-style-type: none; }
      .navigation ul li a {
        text-decoration: none;
        color: white;
        font: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .navigation ul.right {
    padding-left: .5em; }
  .navigation ul.left {
    text-align: right;
    border-right: 1px solid #89901b;
    padding-right: .5em; }

.messages {
  margin: 20px 0; }
  .messages a {
    width: 100%;
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 1.2em; }
    .messages a:hover {
      color: #b0ba25; }

.message-controls {
  border-top: 1px solid #c2c2c2;
  margin-top: 0.5em;
  padding-top: 0.5em; }
  .message-controls strong {
    font-size: 115%;
    margin-right: 1em; }

.custom-message-wrapper {
  zoom: 1; }
  .custom-message-wrapper:before, .custom-message-wrapper:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .custom-message-wrapper:after {
    clear: both; }
  .custom-message-wrapper textarea, .custom-message-wrapper button {
    float: left; }
  .custom-message-wrapper textarea {
    width: 100%;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-color: #ccc;
    resize: none;
    padding: 15px; }
    @media all and (min-width: 30em) {
      .custom-message-wrapper textarea {
        width: 50%; } }
  .custom-message-wrapper button {
    margin: 0.5em 1em; }

.stock-messages {
  zoom: 1;
  margin-bottom: 4em; }
  .stock-messages:before, .stock-messages:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .stock-messages:after {
    clear: both; }

/* ////////////////////////////////////////////// Home styles */
.send-text {
  margin-bottom: 40px; }
  .send-text p {
    float: left;
    padding-top: 3px; }
  .send-text form {
    float: left;
    margin: 0 10px; }

.cards a {
  width: 155px;
  height: 155px;
  float: left;
  border: 8px solid #d7d7d7;
  display: block;
  margin: 0 40px 40px 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  overflow: hidden; }
  .cards a img {
    min-width: 100%;
    max-width: 150%;
    min-height: 100%;
    max-height: 150%; }
  .cards a:hover {
    border: 8px solid #b0ba25; }

/* Home media queries */
@media all and (max-width: 1024px) {
  .cards {
    max-width: 780px;
    margin: 0 auto;
    overflow: hidden; } }
@media all and (max-width: 825px) {
  .cards {
    max-width: 590px; } }
@media all and (max-width: 630px) {
  .cards {
    max-width: 390px; } }
/* ////////////////////////////////////////////// Card page styles */
.to-from {
  margin-bottom: 20px;
  overflow: hidden; }
  .to-from .information {
    float: left;
    width: 60%; }
  .to-from .reciever, .to-from .sender {
    margin-bottom: 10px;
    overflow: hidden; }
    .to-from .reciever p, .to-from .sender p {
      color: #5e6300;
      text-transform: uppercase;
      font-size: 1.3em;
      float: left;
      margin-right: 20px;
      width: 60px; }

a.submit {
  display: block;
  float: left; }

.card {
  border: 4px solid #d7d7d7;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px; }
  .card img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70; }
  .card .message {
    float: right;
    width: 40%;
    background: white;
    position: relative;
    z-index: 90;
    height: 100%;
    padding: 50px 40px 30px; }
    .card .message p {
      line-height: 1.4em;
      font-size: 1.2em; }
    .card .message h2 {
      color: #5e6300;
      font-size: 2em;
      font-weight: normal;
      margin-bottom: 20px; }
    .card .message h2.bottom-heading {
      margin-top: 25px; }
  .card .logo-bar {
    clear: both;
    background: #b0ba25;
    float: right;
    width: 40%;
    height: auto;
    position: relative;
    z-index: 90;
    padding: 10px 0; }
    .card .logo-bar img {
      position: relative;
      width: 47px;
      height: 36px;
      margin: 0 auto;
      display: block; }
  .card.vert img {
    position: relative; }
  .card.vert .message {
    border-bottom: 4px solid #d7d7d7; }
  .card.vert .message, .card.vert .logo-bar {
    float: none;
    width: 100%; }

.text {
  zoom: 1; }
  .text:before, .text:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .text:after {
    clear: both; }
  .text h1 {
    display: inline-block;
    max-width: 75%; }
  .text .button {
    float: right; }

/* Media Quieres */
@media all and (max-width: 980px) {
  .to-from .information {
    width: 80%; } }
@media all and (max-width: 780px) {
  .to-from {
    width: 70%;
    margin: 0 auto 20px; }
    .to-from .information {
      width: 100%; }
      .to-from .information p {
        float: none; }
      .to-from .information form input {
        float: none;
        display: block;
        margin-bottom: 10px;
        width: 45%; }
      .to-from .information form .first-name {
        float: left; }
      .to-from .information form .email {
        clear: both;
        width: 94%; }
    .to-from a.submit {
      display: block;
      float: none;
      clear: both;
      text-align: center;
      width: 94%; } }
.login-wrapper {
  background: #b0ba25;
  width: 100%;
  height: 100%; }

.login {
  background: #b0ba25;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  height: 400px;
  margin-top: -200px;
  margin-left: -150px;
  position: absolute;
  top: 50%;
  left: 50%; }
  .login img {
    margin: 0 auto;
    display: block; }
  .login form input {
    width: 100%;
    margin-bottom: 20px; }
  .login form button {
    display: block;
    margin: 0 auto;
    float: none;
    width: 100px; }

.admin-page .header-bottom {
  overflow: hidden;
  padding: 0; }
  .admin-page .header-bottom p {
    padding: 10px 0 0; }

.tabs {
  float: right; }
  .tabs .tab {
    float: left;
    width: 120px;
    padding: 10px 10px;
    text-align: center;
    background: #dfe747; }
    .tabs .tab a {
      text-transform: lowercase;
      color: #5e6300;
      font-size: .8em;
      text-decoration: none; }
    .tabs .tab.active {
      background: white; }

.options {
  margin-bottom: 50px; }
  .options p {
    float: left;
    color: #5e6300;
    margin-right: 10px; }
  .options select {
    float: left;
    margin-right: 20px; }
  .options .delete {
    color: #333333;
    text-decoration: none;
    margin-right: 20px;
    color: #fcb31c; }
    .options .delete:before {
      content: '';
      background: url(../img/icon-delete.jpg) no-repeat top left;
      width: 12px;
      height: 13px;
      display: inline-block;
      padding-right: 5px; }
  .options .unpublish {
    color: #333333;
    margin-right: 20px;
    text-decoration: none;
    color: #fcb31c; }
    .options .unpublish:before {
      content: '';
      background: url(../img/icon-unpublish.jpg) no-repeat top left;
      width: 8px;
      height: 8px;
      display: inline-block;
      padding-right: 5px; }
  .options .new-message {
    clear: both;
    width: 300px;
    margin: 40px 0 0; }
    .options .new-message h2 {
      color: #b0ba25;
      margin-bottom: 20px; }
    .options .new-message textarea {
      width: 100%;
      height: 100px;
      margin-bottom: 20px; }
    .options .new-message .button {
      clear: both; }
  .options .edit {
    color: #333333;
    margin-right: 20px;
    text-decoration: none;
    color: #fcb31c; }
    .options .edit:before {
      content: '';
      background: url(../img/icon-editmode.jpg) no-repeat top left;
      width: 12px;
      height: 12px;
      display: inline-block;
      padding-right: 5px; }
  .options .view-unpublished {
    color: #333333;
    margin-right: 20px;
    text-decoration: none;
    color: #fcb31c; }
    .options .view-unpublished:before {
      content: '';
      background: url(../img/icon-ViewUnpublished.png) no-repeat top left;
      width: 12px;
      height: 12px;
      display: inline-block;
      padding-right: 5px; }

.flash-message {
  background: #f3776f;
  padding: 10px 0; }
  .flash-message p {
    color: white;
    text-align: center;
    text-transform: uppercase; }

.tag, .add-tag {
  font-size: .8em; }

.tag {
  color: #333333;
  margin-right: 20px;
  text-decoration: none;
  color: #fcb31c; }
  .tag:before {
    content: '';
    background: url(../img/icon-delete.jpg) no-repeat top left;
    width: 12px;
    height: 13px;
    display: inline-block;
    padding-right: 5px; }

.add-tag {
  color: #333333;
  margin-right: 20px;
  text-decoration: none;
  color: #fcb31c; }
  .add-tag:before {
    content: '';
    background: url(../img/icon-add.jpg) no-repeat top left;
    width: 12px;
    height: 12px;
    display: inline-block;
    padding-right: 5px; }

.tags {
  float: left;
  width: 30%; }
  .tags .tag {
    float: none;
    display: block;
    margin-bottom: 5px; }
  .tags input {
    display: block;
    float: none;
    margin-top: 5px; }

.admin-page .cards a.selected {
  border: 8px solid #b0ba25; }

.card-preview {
  width: 65%;
  float: right;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  border: 8px solid #d7d7d7; }
  .card-preview img {
    width: 100%; }

.admin-body {
  background: #b0ba25;
  text-align: center;
  padding-top: 48px; }
  .admin-body h2 {
    font-size: 150%;
    color: #444;
    font-weight: 400; }
  .admin-body img {
    width: 186px; }
  .admin-body form {
    max-width: 300px;
    margin: 2em auto; }
  .admin-body input {
    display: block;
    float: none;
    width: 100%;
    margin: 1em 0;
    padding: 0.5em 0.75em; }
  .admin-body .button {
    width: auto;
    margin: 0 auto; }

.controls {
  margin-bottom: 2em; }
  .controls label {
    font-size: 115%;
    color: #5e6300; }
  .controls a {
    color: #fcb31c;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 105%; }
    .controls a:hover, .controls a:focus {
      color: #e29903; }

.error {
  display: none;
  padding: 1em;
  margin: 1em 0;
  background: #f16157;
  color: #fff; }
  .error.show {
    display: block; }

@media all and (max-width: 550px) {
  .options {
    margin-bottom: 50px;
    overflow: hidden; }
    .options p {
      margin-bottom: 10px; }
    .options .delete, .options .unpublish {
      clear: left;
      display: block;
      margin-bottom: 10px; }
    .options .button {
      display: block;
      float: left; }

  .cards {
    clear: both; }

  .tags, .card-preview {
    float: none;
    width: 100%;
    margin-bottom: 20px; } }
form.donation {
  margin: 20px 0 50px;
  overflow: hidden; }
  form.donation div {
    float: left;
    font-size: 2em;
    margin-right: 30px;
    color: #b0ba25; }
  form.donation label {
    left: auto;
    top: auto;
    display: block;
    width: auto;
    height: auto;
    position: static; }

.how-to-donate {
  clear: both; }
  .how-to-donate a {
    display: block;
    float: left;
    margin: 20px 50px 0 0; }

@media all and (max-width: 670px) {
  .how-to-donate a {
    float: none; } }
@media all and (max-width: 570px) {
  form.donation div {
    float: none;
    margin: 0 0 20px 0; } }
.sent h1 {
  color: #b0ba25;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding-top: 50px; }
  .sent h1 span {
    padding-top: 30px;
    display: block; }
  .sent h1:before {
    content: '';
    background: url(../img/sent.jpg) no-repeat top left;
    width: 186px;
    height: 90px;
    display: block;
    float: left; }

@media screen and (max-width: 650px) {
  .sent h1 {
    width: 100%; }
    .sent h1:before {
      float: none;
      margin: 0 auto; } }
.recieved {
  margin-bottom: 50px; }
  .recieved .text {
    overflow: hidden;
    margin: 30px 0; }
    .recieved .text img, .recieved .text h1, .recieved .text a {
      float: left; }
    .recieved .text h1 {
      margin-right: 10px;
      font-size: 1.7em; }
  .recieved .card.vert {
    max-width: 600px;
    margin: 0 auto; }

@media all and (max-width: 975px) {
  .recieved .text {
    text-align: center; }
    .recieved .text img, .recieved .text h1, .recieved .text a {
      float: none; }
    .recieved .text a {
      display: inline-block; } }
