// Colors


$green: #b0ba25;
$light-green: #bfc841;
$medium-green: #a7af39;
$dark-green: #89901b;
$darkest-green: #5e6300;
$orange: #fcb31c;
$light-blue: #bce4e5;
$blue: #00929f;
$pink: #f3776f;
$brown: #b9ab97;
$black: #333333;
$white: #ffffff;
$gray: #d7d7d7;
$dark-gray: #c2c2c2;

$font: Arial, "Helvetica Neue", Helvetica, sans-serif;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}


@mixin box-sizing ($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	box-sizing:         $type;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}