.login-wrapper {
	background: $green;
	width: 100%;
	height: 100%;
}
.login {
	background: $green;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	height: 400px;
	margin-top: -200px;
	margin-left: -150px;
	position: absolute;
	top: 50%;
	left: 50%;
	img {
		margin: 0 auto;
		display: block;
	}
	form {
		input {
			width: 100%;
			margin-bottom: 20px;
		}
		button {
			display: block;
			margin: 0 auto;
			float: none;
			width: 100px;
		}
	}
}



.admin-page {
	.header-bottom {
		overflow: hidden;
		 padding: 0;
		 p {
			padding: 10px 0 0;
		 }
	}
}

.tabs {
	float: right;
	.tab {
		float: left;
		width: 120px;
		padding: 10px 10px;
		text-align: center;
		background: $lightest-green;
		a {
			text-transform: lowercase;
			color: $darkest-green;
			font-size: .8em;
			text-decoration: none;
		}
		&.active {
			background: $white;
		}
	}
}
.options {
	margin-bottom: 50px;
	p {
		float: left;
		color: $darkest-green;
		margin-right: 10px;
	}
	select {
		float: left;
		margin-right: 20px;
	}
	.delete {
		color: $black;
		text-decoration: none;
		margin-right: 20px;
		color: $orange;
		&:before {
			content: '';
			background: url(../img/icon-delete.jpg) no-repeat top left;
			width: 12px;
			height: 13px;
			display: inline-block;
			padding-right: 5px;
		}
	}
	.unpublish {
		color: $black;
		margin-right: 20px;
		text-decoration: none;
		color: $orange;
		&:before {
			content: '';
			background: url(../img/icon-unpublish.jpg) no-repeat top left;
			width: 8px;
			height: 8px;
			display: inline-block;
			padding-right: 5px;
		}
	}
	.new-message {
		clear: both;
		width: 300px;
		margin: 40px 0 0;
		h2 {
			color: $green;;
			margin-bottom: 20px;
		}
		textarea {
			width: 100%;
			height: 100px;
			margin-bottom: 20px;
		}
		.button {
			clear: both;
		}
	}
	.edit {
		color: $black;
		margin-right: 20px;
		text-decoration: none;
		color: $orange;
		&:before {
			content: '';
			background: url(../img/icon-editmode.jpg) no-repeat top left;
			width: 12px;
			height: 12px;
			display: inline-block;
			padding-right: 5px;
		}
	}
	.view-unpublished {
		color: $black;
		margin-right: 20px;
		text-decoration: none;
		color: $orange;
		&:before {
			content: '';
			background: url(../img/icon-ViewUnpublished.png) no-repeat top left;
			width: 12px;
			height: 12px;
			display: inline-block;
			padding-right: 5px;
		}
	}
}

.flash-message {
	background:$pink;
	padding: 10px 0;
	p {
		color: $white;
		text-align: center;
		text-transform: uppercase;
	}
}
.message {
	clear: both;
	margin-bottom: 50px;
	max-width: 300px;
	input[type="checkbox"] {
		float: left;
		margin-right: 5px;
	}
	p {
		padding-left: 21px;
		border-bottom: 1px solid $gray;
		padding-bottom: 10px;
		margin-bottom: 5px;
	}
	.tag, .add-tag {
		font-size: .8em;
	}
	.tag {
		color: $black;
		margin-right: 20px;
		text-decoration: none;
		color: $orange;
		&:before {
			content: '';
			background: url(../img/icon-delete.jpg) no-repeat top left;
			width: 12px;
			height: 13px;
			display: inline-block;
			padding-right: 5px;
		}
	}
	.add-tag {
		color: $black;
		margin-right: 20px;
		text-decoration: none;
		color: $orange;
		&:before {
			content: '';
			background: url(../img/icon-add.jpg) no-repeat top left;
			width: 12px;
			height: 12px;
			display: inline-block;
			padding-right: 5px;
		}
	}
	
}
.admin-page {
	.cards {
		a.selected {
			border: 8px solid $green;
		}
	}
}





.admin-body {
	background: $green;
	text-align: center;
	padding-top: 48px;

	h2 {
		font-size: 150%;
		color: #444;
		font-weight: 400;
	}

	img {
		width: 186px;
	}

	form {
		max-width: 300px;
		margin: 2em auto;
	}
	input {
		display: block;
		float: none;
		width: 100%;
		margin: 1em 0;
		padding: 0.5em 0.75em;
	}

	.button {
		width: auto;
		margin: 0 auto;
	}

}

.controls {
	margin-bottom: 2em;
	label {
		font-size: 115%;
		color: $darkest-green;
	}
	a {
		color: $orange;
		text-decoration: none;
		padding: 0.5em 1em;
		font-size: 105%;

		&:hover,
		&:focus {
			color: darken($orange, 10%);
		}
	}
}

.error {
	display: none;
	padding: 1em;
	margin: 1em 0;
	background: darken($pink, 5%);
	color: #fff;

	&.show {
		display: block;
	}
}

@media all and (max-width:550px) {
	.options {
		margin-bottom: 50px;
		overflow: hidden;
		p {
			margin-bottom: 10px;
		}
		.delete, .unpublish {
			clear: left;
			display: block;
			margin-bottom: 10px;
		}
		.button {
			display: block;
			float: left;
		}
	}
	.cards {
		clear: both;
	}
}