/* ////////////////////////////////////////////// Card page styles */

.to-from {
	margin-bottom: 20px;
	overflow: hidden;
	.information {
		float: left;
		width: 60%;
	}
	.reciever, .sender {
		margin-bottom: 10px;
		overflow: hidden;
		p {
			color: $darkest-green;
			text-transform: uppercase;
			font-size: 1.3em;
			float: left;
			margin-right: 20px;
			width: 60px;
		}
	}
}
a.submit {
	display: block;
	float: left;
}
.card {
	border: 4px solid $gray;
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
	img {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 70;
	}
	.message {
		float: right;
		width: 400px;
		background: $white;
		position: relative;
		z-index: 90;
		height: 100%;
		padding: 50px 40px 30px;
		p {
			line-height: 1.4em;
			font-size: 1.2em;
		}
		h2 {
			color: $darkest-green;
			font-size: 2em;
			font-weight: normal;
			margin-bottom: 20px;
		}
		h2.bottom-heading {
			margin-top: 25px;
		}
	}
	.logo-bar {
		clear: both;
		background: $green;
		float: right;
		width: 400px;
		height: auto;
		position: relative;
		z-index: 90;
		padding: 10px 0;
		img {
			position: relative;
			width: 47px;
			height: 36px;
			margin: 0 auto;
			display: block;
		}
	}
	&.vert {
		img {
			position: relative;
		}
		.message {
			border-bottom: 4px solid $gray;
		}
		.message, .logo-bar {
			float: none;
			width: 100%;
		}
		
	}
}



/* Media Quieres */
@media all and (max-width:980px) {
	.to-from {
		.information{
			width: 80%;
		}
	}
}

@media all and (max-width:780px) {
	.to-from {		
		width: 70%;
		margin: 0 auto 20px;
		.information{
			width: 100%;
			p {
				float: none;
			}
			form {
				input {
					float: none;
					display: block;
					margin-bottom: 10px;
					width: 45%;
				}
				.first-name {
					float: left;
				}
				.email {
					clear: both;
					width: 94%;
				}
			}
			
		}
		a.submit {
			display: block;
			float: none;
			clear: both;
			text-align: center;
			width: 94%;
		}
	}
	
}