form.donation {
	margin: 20px 0 50px;
	overflow: hidden;
	div {
		float: left;
		font-size: 2em;
		margin-right: 30px;
		color: $green;
	}
	label {
		left: auto;
		top: auto;
		display: block;
		width: auto;
		height: auto;
		position: static;
	}
}
.how-to-donate {
	clear: both;
	a {
		display: block;
		float: left;
		margin: 20px 50px 0 0;
	}
}


@media all and (max-width:670px) {
	.how-to-donate {
		a {
			float: none;
		}
	}
}

@media all and (max-width:570px) {
	form.donation {
		div {
			float: none;
			margin: 0 0 20px 0; 
		}
	}
}