.message {
	display: block;
	float: left;
	width: 100%;
	padding: 1em 1.5em .5em 0;
	left: auto;
	height: auto;
	position: relative;
	input[type="checkbox"] {
		float: left;
	}
	p {
		padding-left: 34px;
		line-height: 1.4em;
	}
}

.message-controls {
	border-top: 1px solid $dark-gray;
	margin-top: 0.5em;
	padding-top: 0.5em;
	strong {
		font-size: 115%;
		margin-right: 1em;
	}
}

.custom-message-wrapper {
	@include clearfix();

	textarea, button {
		float: left;
	}

	textarea {
		width: 100%;
		@include box-shadow(0,0,2px,rgba(0, 0, 0, 0.2));
		border-color: #ccc;
		resize: none;
		padding: 15px;
		@media all and (min-width: 30em) {
			width: 50%;
		}
	}

	button {
		margin: 0.5em 1em;
	}
}

.stock-messages {
	@include clearfix();
	margin-bottom: 4em;
}